.authentication_container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  text-align: center;
}
  
.authentication form {
  margin-bottom: 1rem;
}

.authentication button {
  margin: 10pt auto;
  display: block;
}

.authentication button:focus {
  outline: none;
  box-shadow: none;
}