.result-table-container {
  margin: auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.symmetric-button-group {
  height: auto;
  width: 100%;
}

.symmetric-button-group-first {
  margin-left: 15pt;
  float: left;
}

.symmetric-button-group-second {
  margin-right: 15pt;
  float: right;
}